.App {
  text-align: center;
  background-color: pink;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

ul {
  list-style-type: none;
}

li {
  display: block;
  height: 100px;
  vertical-align: middle;
  background-color: salmon;
}
